.container {
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid {
    padding: 20px;
  /* border: 1px solid ; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
