.container{
   /* border: 1px solid red;  */
   display: flex;
   justify-content: space-between;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.full{
    padding: 10px 20px;
    margin-top: 8px;
    /* border: 1px solid; */
}
.HomeSide{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.link{
    margin-top: 8px;
    text-decoration: none;
    color: black;
}